profiles {
    conda {
        process.conda = 'python=3.6 pandas docopt bioconda::fastp bioconda::bwa bioconda::pysam bioconda::samtools conda-forge::pigz'
    }
    docker {
        process.container = 'matthpich/metagenomic:latest'
        docker.enabled = true
    }
}

process {

    withLabel: qc {
        cpus = 1
        memory = 1.GB
    }

        withLabel: map {
        cpus = 2
        memory = 1.GB
    }

        withLabel: count {
        cpus = 1
        memory = 1.GB
    }

        withLabel: derive {
        cpus = 1
        memory = 1.GB
    }
    
        withLabel: seqstats {
        cpus = 1
        memory = 1.GB
    }
    
}

timeline.enabled = false
report.enabled = false
trace.enabled = false
