manifest {
  name        = 'matthpich/ngsmetagenomic'
  author      = 'Matthieu Pichaud'
  homePage    = 'https://github.com/blabla'
  description = 'Metagenomic pipeline.'
  mainScript  = 'test_resources.nf'
  version     = '0.1dev'
}

aws {
    client.storageEncryption = 'AES256'
    batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
}

process {
    executor = "awsbatch"
    queue    = "NFqueue_optimal"
    //errorStrategy = 'ignore'
    //cleanup  = true
    withLabel: basic {
        memory = 8.GB
        cpus   = 1
    }
    withLabel: multi_cpu {
        memory = 32.GB
        cpus   = 8
    }
    withLabel: multi_cpu_large_mem {
        memory = 80.GB
        cpus   = 8
    }    
}
