manifest {
  name = 'matthpich/ngsmetagenomic'
  author = 'Matthieu Pichaud'
  homePage = 'https://github.com/blabla'
  description = 'Metagenomic pipeline.'
  mainScript = 'main.nf'
  version = '0.1dev'
}

timeline {
  enabled = true
  file = "execution_timeline.html"
}
report {
  enabled = true
  file = "execution_report.html"
}
trace {
  enabled = true
  file = "execution_trace.txt"
}
dag {
  enabled = true
  file = "pipeline_dag.svg"
}

profiles {

    conda {
        conda = 'python=3.6 docopt bioconda::trim-galore=0.6.3 bioconda::kneaddata bioconda::bwa bioconda::pysam bioconda::pysamstats bioconda::samtools'
    }
    
    local {
        process {
            executor = "local"
            cleanup  = true
        }
    }

}
